.main{
    height: 1000px ;
}
.row{
    width: 100% !important;
}

.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
h2{
    margin-bottom: 20px;
}
.table td, 
.table th {
    border: 1px solid #ddd;
    padding: 8px;
}
thead{
    background-color: rgb(151, 150, 150);
}
.td{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table tr:nth-child(even){background-color: #f2f2f2;}

.payment-option{
    margin-top: 20px;
}
h4{
    margin-top: 50px;
}
.payment-option span{
    margin-left: 20px;
}
.sub{
    padding: 10px;
    background-color: rgb(76, 190, 76);
    border-radius: 5px;
    width: 150px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 20px;
}